{% extends 'index/layout.html' %}
{% block body %}
<div class="container">
    <form class="box box-shadow margin-top-bottom text-dark" method = "post" action = "{% url 'login' %}">
        <div class="form-group">
            <h1 class="box-title">Login user</h1>
            <p class="form-error">{{message}}</p>
        </div>
        <div class="form-group">
            <p class="form-label">Username:</p>
            <input type="text" name="username" class="form-control">
        </div>
        <div class="form-group">
        	{% csrf_token %}
        	<p class="form-label">Password:</p>
        	<input type="password" name="password" class="form-control">
        </div>
        <div class="form-group">
        	<input type="submit" value="Register" class="form-control btn btn-dark">
        </div>
    </form>
</div>
{% endblock %}